# Unreal Engine components to ignore
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI

# Visual Studio components to ignore
*.VC.db
*.VC.opendb
*.suo

